fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
neo4j
qdrant-client
google-generativeai
langchain
langchain-google-genai
llama-index
# spacy
# sentence-transformers
supabase
python-multipart
