fastapi
uvicorn
pydantic
python-dotenv
neo4j
qdrant-client
google-generativeai
langchain
langchain-google-genai
llama-index
supabase
python-multipart
firebase-admin
pydantic-settings
PyMuPDF
slowapi
 